<h1>Création de la session</h1>
<script>
    sessionStorage.setItem('token', '<%= token %>')
    sessionStorage.setItem('firstname', '<%= firstname %>')
    sessionStorage.setItem('lastname', '<%= lastname %>')
</script>